<?xml version="1.0" ?>
<robot name="gummi" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="group_right_arm_ee">
    <joint name="elbow" />
    <joint name="forearm_roll" />
    <joint name="wrist_pitch" />
</xacro:macro>

<xacro:macro name="group_right_gripper_ee">
  <group name="right_gripper">
      <link name="wrist" />
      <link name="gripper_Link" />
  </group>
</xacro:macro>

<xacro:macro name="group_state_right_arm_ee">
  <joint name="elbow" value="0" />
  <joint name="forearm_roll" value="0" />
  <joint name="wrist_pitch" value="0" />
</xacro:macro>

<xacro:macro name="end_effector_ee">
  <!--END EFFECTOR: Purpose: Represent information about an end effector.-->
  <end_effector name="right_eef" parent_link="wrist" group="right_gripper" />
</xacro:macro>

<xacro:macro name="disable_collisions_ee">
  <!-- <disable_collisions link1="right_hand" link2="wrist" reason="Never" />
  <disable_collisions link1="right_hand" link2="gripper_Link" reason="Never" /> -->
  <disable_collisions link1="gripper_Link" link2="lowerarm" reason="Never" />
  <disable_collisions link1="gripper_Link" link2="lowerarm_preroll" reason="Never" />
  <disable_collisions link1="gripper_Link" link2="wrist" reason="Adjacent" />
  <disable_collisions link1="lowerarm" link2="lowerarm_preroll" reason="Adjacent" />
  <disable_collisions link1="lowerarm" link2="wrist" reason="Adjacent" />
  <disable_collisions link1="lowerarm_preroll" link2="wrist" reason="Never" />
</xacro:macro>
</robot>
