<?xml version="1.0" ?>
<robot name="gummi" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="group_right_arm_ee">
    <joint name="forearm_roll" />
    <joint name="wrist_pitch" />
    <joint name="coupling_tool"/>
    <joint name="gdovetail"/>
</xacro:macro>

<xacro:macro name="group_right_gripper_ee">
  <group name="right_gripper">
    <link name="wrist"/>
    <link name="gbase"/>
    <joint name="gripper"/>
  </group>
</xacro:macro>

<xacro:macro name="group_state_right_arm_ee">
  <joint name="forearm_roll" value="0" />
  <joint name="wrist_pitch" value="0" />
</xacro:macro>

<xacro:macro name="end_effector_ee">
  <!--END EFFECTOR: Purpose: Represent information about an end effector.-->
<end_effector group="right_gripper" name="right_eef" parent_link="tool" parent_group="right_arm"/>
</xacro:macro>

<xacro:macro name="disable_collisions_ee">
  <disable_collisions link1="tool" link2="wrist" reason="Adjacent" />
  <disable_collisions link1="lowerarm" link2="lowerarm_preroll_d" reason="Adjacent" />
  <disable_collisions link1="lowerarm" link2="wrist" reason="Adjacent" />
  <disable_collisions link1="lowerarm_preroll_d" link2="wrist" reason="Never" />

  <disable_collisions link1="lowerarm" link2="wrist_ext_pulley" reason="Adjacent"/>
  <disable_collisions link1="lowerarm" link2="wrist_flex_pulley" reason="Adjacent"/>

  <!-- gripper collisions  -->
  <disable_collisions link1="gbase" link2="wrist" reason="Adjacent"/>
  <disable_collisions link1="gbase" link2="g_camera" reason="Adjacent"/>
  <disable_collisions link1="gbase" link2="g_um" reason="Adjacent"/>
  <disable_collisions link1="gbase" link2="g_ll" reason="Adjacent"/>
  <disable_collisions link1="gbase" link2="g_ug" reason="Adjacent"/>
  <disable_collisions link1="gbase" link2="g_lg" reason="Adjacent"/>
  <disable_collisions link1="gbase" link2="g_mfl" reason="Adjacent"/>
  <disable_collisions link1="gbase" link2="g_lfl" reason="Adjacent"/>
  <disable_collisions link1="gbase" link2="g_mf" reason="Never"/>
  <disable_collisions link1="gbase" link2="g_lf" reason="Never"/>

  <disable_collisions link1="g_ug" link2="g_um" reason="Adjacent"/>
  <disable_collisions link1="g_lg" link2="g_ll" reason="Adjacent"/>

  <disable_collisions link1="g_lf" link2="g_um" reason="Adjacent"/>
  <disable_collisions link1="g_mf" link2="g_ll" reason="Adjacent"/>

  <disable_collisions link1="g_lf" link2="g_lfl" reason="Adjacent"/>
  <disable_collisions link1="g_mf" link2="g_mfl" reason="Adjacent"/>
</xacro:macro>
</robot>
